<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main-layout.html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div layout:fragment="other_structure">
  <div class="row justify-content-center">
    <div class="col-6">
      <form action="/add-car" method="post">
        <div class="row mt-2">
          <div class="col-12">
            <label>MODEL:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" name="model" class="form-control">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label>PRICE:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" name="price" class="form-control">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label>ENGINE:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" name="engine" class="form-control">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label>COLOR:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" name="color" class="form-control">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label>DESCRIPTION:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <textarea rows="10" cols="50" name="description" class="form-control"></textarea>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <button class="btn btn-success btn-sm">ADD CAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>