<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main-layout.html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div layout:fragment="other_structure">
  <div class="row justify-content-center">
    <div class="col-6">
      <form action="/update-car" method="post">
        <input type="hidden" name="id" th:value="${mashina.id}">
        <div class="row mt-2">
          <div class="col-12">
            <label>MODEL:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" name="model" class="form-control" th:value="${mashina.model}">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label>PRICE:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" name="price" class="form-control" th:value="${mashina.price}">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label>ENGINE:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" name="engine" class="form-control" th:value="${mashina.engine}">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label>COLOR:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input type="text" name="color" class="form-control" th:value="${mashina.color}">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label>DESCRIPTION:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
                <textarea rows="10" cols="50" name="description" class="form-control"
                          th:text="${mashina.description}"></textarea>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <button class="btn btn-success btn-sm">UPDATE CAR</button>
          </div>
        </div>
      </form>

      <form action="/delete-car" method="post" class="mt-2">
        <input type="hidden" name="id" th:value="${mashina.id}">
        <button class="btn btn-danger btn-sm">DELETE CAR</button>
      </form>
    </div>
  </div>

</div>
</body>
</html>